    @font-face {
    font-family: "inter";
    src: url(Inter-VariableFont_slnt,wght.ttf);
    }

*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #212529;
    }
 

#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color:  #FFB742;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav li a
{
    color: #fff;
    text-decoration: none;
}
.nav li a:hover
{
    font-weight: bold;
}
.nav li
{
    list-style: none;
    padding: 16px 0;
}
.nav
{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.menu-bg, #menu-bar{
    top:0;
    left: 0;
    position: absolute;
}
.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#FFB742, #FFB742);
    border-radius: 50%;
    transition: 0.3s ease;
}
#menu-bar{
    z-index:2;

}
.change-bg
{
    width: 550px;
    height: 540px;
    transform: translate(-60%,-30%);
}
.change .bar{
    background-color: white;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}
.change{
    display: block;
}
.container{
    width: 100vw;
    height: 100vh;
}
.title{
    text-align: center;
    color: #FFB742;
    margin-top: 150px;
    font-size: larger;
}
.box{
    /* position: relative;
    left: 485px; */
    width: 485;
    background-color: rgba(65, 65, 65, 0.236);
    border-radius: 10px;
    padding: 25px 200px 18px 30px;
    margin: 3rem ;
    text-align: center;
    display: flex;
    }
    .espacamentoTabela{
        margin: 0 50px 30px 100px;
    }
    .coin-name{
        color: rgb(185, 185, 185);
        text-align: left;
    } 
       .precos{
        color: rgb(185, 185, 185);
    }

    #DivSuperior{
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .icones{
        margin: 0 10px 0 30px
    }
    .img{
        height: 8vh;
    }
    .short-box{
        /* position: relative;
        left: 485px; */
        width: 20vw;
        background-color: rgba(65, 65, 65, 0.233);
        border-radius: 10px;
        padding: 10px 50px 12px 40px;
        margin: 2rem ;
        text-align: center;     
        display: flex;
        }
        .text{
            color: #FFB742;
            margin-left: 50px ;
        margin-right: 10px;
        }
        .valor{
            color: rgb(185, 185, 185);
        }
        #caixa{
            width: 100vw;
            display: flex;
            justify-content: center;
        }
